<% if @user.avatar.file? %>
<%= image_tag @user.avatar.url(:croppable), :border => "0", :align => "left", :hspace => "5", :vspace => "5", :alt => @user.username %>
<% end %>

<h2><%= @user.username %></h2>
<h3>Bio</h3>
<%= simple_format(@user.biography, {}, :sanitize => true) %>
<% if (user_signed_in? && (current_user.id == @user.id)) %>
<%= link_to "Edit", edit_user_path(@user) %>
<% end %>
