<p>BSD Packet Filter (PF) - <%= link_to "Linux Users Group of Rochester (LUGOR)", "http://www.lugor.org" %> - 12/2011
<ul>
<li><a href="/documents/pf.odp">Open Office Presentation</a></li>
<li><a href="/documents/pf.ppt">Microsoft Power Point (97/2000/XP/2003)</a></li>
</ul>
</p>

<p>Quick Intro to BASH Scripting - <%= link_to "Linux Users Group of Rochester (LUGOR)", "http://www.lugor.org" %> - 1/2012
<ul>
<li><a href="/documents/shell.odp">Open Office Presentation</a></li>
<li><a href="/documents/shell.ppt">Microsoft Power Point (97/2000/XP/2003)</a></li>
</ul>
</p>

<p>Quick Intro to Network Bonding - <%= link_to "Linux Users Group of Rochester (LUGOR)", "http://www.lugor.org" %> - 2/2012
<ul>
<li><a href="/documents/bonding.odp">Open Office Presentation</a></li>
<li><a href="/documents/bonding.ppt">Microsoft Power Point (97/2000/XP/2003)</a></li>
</ul>
</p>
