/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

.textile .markItUpButton1 a {
	background-image:url(/assets/h1.png); 
}
.textile .markItUpButton2 a {
	background-image:url(/assets/h2.png); 
}
.textile .markItUpButton3 a {
	background-image:url(/assets/h3.png); 
}
.textile .markItUpButton4 a {
	background-image:url(/assets/h4.png); 
}
.textile .markItUpButton5 a {
	background-image:url(/assets/h5.png); 
}
.textile .markItUpButton6 a {
	background-image:url(/assets/h6.png); 
}
.textile .markItUpButton7 a {
	background-image:url(/assets/paragraph.png); 
}

.textile .markItUpButton8 a {
	background-image:url(/assets/bold.png);
}
.textile .markItUpButton9 a {
	background-image:url(/assets/italic.png);
}
.textile .markItUpButton10 a {
	background-image:url(/assets/stroke.png);
}

.textile .markItUpButton11 a {
	background-image:url(/assets/list-bullet.png);
}
.textile .markItUpButton12 a {
	background-image:url(/assets/list-numeric.png);
}

.textile .markItUpButton13 a {
	background-image:url(/assets/picture.png); 
}
.textile .markItUpButton14 a {
	background-image:url(/assets/link.png);
}

.textile .markItUpButton15 a	{
	background-image:url(/assets/quotes.png);
}
.textile .markItUpButton16 a	{
	background-image:url(/assets/code.png);
}

.textile .preview a {
	background-image:url(/assets/preview.png);
}

.textile .library a {
	background-image:url(/assets/library.png);
}	
.textile .pictures a {
	background-image:url(/assets/pictures.png);
}	
